name: Python tests

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs: 
  test: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run python tests
        run: python3 test_calculator.py